@font-face {
    font-family: Minecraft;
    src: url(../fonts/Minecraft.ttf);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Minecraft, sans-serif;
}

input,
button {
    font-family: inherit;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#container,
#canvas,
#gui {
    position: absolute;
    width: 100%;
    height: 100%;
}

#gui {
    pointer-events: none;
}

#gui * {
    pointer-events: auto;
}

.prompt {
    padding-left: 10px;
    background: #f6f6f6;
}

.prompt > input {
    border: 2px solid #ddd;
    outline: none;
    font-size: 16px;
    margin-bottom: 10px;
}

.prompt > button {
    padding: 12px 10px;
    border: 0;
    background-color: #333;
    font-size: 16px;
    outline: none;
    color: white;
    margin-right: 10px;
}

.panel {}

.panel > .section {
    padding-bottom: 10px;
}

.panel > .section > .title {
    color: white;
    font-size: 16px;
    padding-bottom: 4px;
}

.panel > .section > .value {
    color: white;
    border: 2px solid #000;
    background-color: #333;
    outline: none;
    font-size: 16px;
    width: 100%;
    padding: 5px 5px 3px 5px;
}

.panel > .section > button {
    /*padding: 12px 10px;*/
    border: 2px solid #000;
    background-color: #333;
    color: white;
    border-right: none;
    font-size: 16px;
    outline: none;
}

.panel > .section > button:last-child {
    border-right: 2px solid #000;
}

.panel > .section > button.selected {
    background-color: #FFF;
    color: #000;
}

.cpr.arrowbar .block {
    background-color: #000;
}

.cpr.toolbar .block {
    background-color: #000;
}

.cpr.filebar .block {
    background-color: #000;
}